@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pangolin&family=Patrick+Hand&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base {
  /* Light Theme */
  :root {
    --light-100: #ffffff; 
    --light-200: #f7f7f7;
    --dark-100: #1f1f1f;
    --dark-200: #636363;
    --dark-300: #e6e6e6;
    --border-100: #636363;  
    --border-200: #d9d9d9;
  }

  /* Dark Theme */
  .dark-theme {
    --light-100: #1f1f1f; 
    --light-200: #2a2a2a;
    --dark-100: #f7f7f7;
    --dark-200: #d9d9d9;
    --dark-300: #555555;
    --border-100: #888888;
    --border-200: #555555;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-100: #1f1f1f;
    --light-200: #2a2a2a;
    --dark-100: #f7f7f7;
    --dark-200: #d9d9d9;
    --dark-300: #555555;
    --border-100: #888888;
    --border-200: #555555;
  }
}

body {
  background: var(--light-200);
  color: var(--dark-100);
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: background 0.3s ease, color 0.3s ease;
}
