@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pangolin&family=Patrick+Hand&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base {
  /*  Default (Light) Theme */
  :root {
    --light-100: #ffffff;
    --light-200: #f7f7f7;
    --dark-100: #1f1f1f;
    --dark-200: #636363;
    --dark-300: #e6e6e6;
    --border-100: #636363;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
    --foreground: #f7f7f7;
  }
}

body {
  background: #f7f7f7;
  color: #1f1f1f;
  font-family: "Plus Jakarta Sans", sans-serif;
}
